.heading {
  margin-left: 280px;
  color: rgb(40, 40, 102);
}
.act {
  color: rgb(136, 136, 231);
}
.prologs {
  color: rgb(184, 184, 235);
}
.one_list {
  width: 800px;
  margin-left: 80px;
}
.cite1 {
  font-size: 11px;
}
