.tutorial {
  text-align: center;
}
.heading {
  text-align: center;
}
.world {
  width: 800px;
  margin-left: 300px;
  text-align: left;
}
abbr {
  border-bottom: 1px dashed black;
}
.pink {
  color: rgb(219, 117, 117);
}
.Hello_World {
  width: 800px;
  background-color: rgb(224, 220, 220);
  color: brown;
}
.tags {
  color: rgb(150, 229, 240);
  background-color: rgb(224, 220, 220);
  display:inline-flex;
  list-style:none;
  padding-left: 4pt;
  padding-right: 4pt;
  
}

