main {
  background-color: rgb(245, 188, 202);
  width: 800px;
}
ol {
  counter-reset: myCounter;
  padding-top: 22px;
  padding-bottom: 22px;
  font-size: 22px;
  color: white;
}

li {
  list-style: none;
  background-color: rgb(218, 129, 151);
  margin-top: 22px;
  padding-left: 0px;
  width: 700px;
}

li:before {
  counter-increment: myCounter;
  content: counter(myCounter) '.';
  color: white;
  background: rgb(218, 129, 151);
  display: inline-block;
  text-align: center;
  margin: 5px 10px;
  line-height: 40px;
  width: 40px;
  height: 40px;
}

span {
  background-color: rgb(170, 90, 110);
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 10px;
  padding-right: 10px;
}
