span {
  width: auto;
  height: 100px;
  background-color: rgb(196, 194, 192);
  text-align: center;
  font-size: 80px;
  margin-top: 11px;
  margin-bottom: 11px;
  padding-left: 5px;
  padding-right: 5px;
}
.black-card {
  margin-right: 5px;
  margin-left: 5px;
  display: inline-block;
  

}
.red-card {
  margin-right: 5px;
  margin-left: 5px;
  color: crimson;
  display: inline-block;
  
}
