
.block_menu{
    list-style-type: none;
    font-size:40px;
    color: #fdfdfd;
    
}
.block{
    width: 400px;
    height: 100px;
    background-color: rgb(160, 160, 160);
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    
}

img{
width: 100px;

}
.vertical{
    vertical-align:75%;
}